html {
    background-color: #FAF7F7;
}

body {
    margin: 0;
}

img {
    width: 80%;
}

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

p {
    font-family: sans-serif;
    color: #EA5045;
    font-size: 0.8rem;
    padding: 0vw 1vw;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 0.7rem;
    padding: 1vw 1vw;
    text-align: center;
}


h2 {
    font-family: sans-serif;
    color: #EA5045;
    font-size: 0.7rem;
    padding: 0.5vw 1vw;
    text-align: center;
}


h3 {
    font-family: sans-serif;
    color: #F58E81;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top: 20vw;
}


h4 {
    font-family: sans-serif;
    color: #F58E81;
    font-size: 1.5rem;
    text-align: center;
}

/*LOGIN LOGO*/

#login .logobag {
    width: 100vw;
    height: 40vw;
    background-color: #EA5045;
    background-size: cover;
    margin: 0 auto;
}

#login .logo {
    background-image: url(kealogo-01.svg);
    background-color: #EA5045;
    width: 40vw;
    height: 15vw;
    margin: 10vw 30vw;
}

/*LOGIN FORSIDE*/

#login .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#login .coltop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 50vw;
}

#login .user,
.password {}

#login .continue {}

#login .fblogin {
    width: 50vw;
    background-color: #FFFFFF;
    margin: 1.5vw 0vw;
    border: 2px solid #EA5045;
    border-radius: 50px;
    height: 8vw;
    position: absolute;
    top: 100vw;
}

/*user password*/

input[type=text] {
    width: 100%;
    background-color: #FFFFFF;
    margin: 1.5vw 0vw;
    padding: 0vw;
    border-radius: 50px;
    height: 8vw;
    width: 50vw;
    font-family: sans-serif;
    color: #EA5045;
    padding: 2vw;
}

input[type=password] {
    width: 100%;
    background-color: #FFFFFF;
    margin: 1.5vw 0vw;
    border-radius: 50px;
    height: 8vw;
    width: 50vw;
    font-family: sans-serif;
    color: #EA5045;
    padding: 2vw;
}

/*continue*/

input[type=submit] {
    width: 100%;
    background-color: #EA5045;
    margin: 1.5vw 0vw;
    border-radius: 50px;
    height: 8vw;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 40vw;
    color: #FFFFFF;
    font-size: 0.7rem;
}

/*index*/

#forside .sectionwrapper {
    background-color: #FAF7F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#forside .colbox {
    background-color: #FAF7F7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



}

#forside .col {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
    height: 25vw;
    width: 25vw;
}

#forside a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#forside .techlounge {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
    height: 25vw;
    width: 53vw;
}

#forside .aktuelt {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
    height: 53vw;
    width: 53vw;
    align-items: center;
}
