html {
    background-color: #FAF7F7;
}

body {
    margin: 0;
}

main {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

p {
    font-family: sans-serif;
    color: #EA5045;
    font-size: 0.8rem;
    padding: 0vw 1vw;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 0.7rem;
    padding: 1vw 1vw;
    text-align: center;
}


h2 {
    font-family: sans-serif;
    color: #EA5045;
    font-size: 0.7rem;
    padding: 0.5vw 1vw;
    text-align: center;
}


h3 {
    font-family: sans-serif;
    color: #F58E81;
    font-size: 0.9rem;
    margin: -2vw -2vw;
}


h4 {
    font-family: sans-serif;
    color: #F58E81;
    font-size: 1.5rem;
    text-align: center;
}

h5 {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    padding: 2vw;
}


/*LOGIN LOGO*/

#login .logobag {
    width: 100vw;
    height: 40vw;
    background-color: #EA5045;
    background-size: cover;
    margin: 0 auto;
}

#login .logo {
    background-image: url(kealogo-01.svg);
    background-color: #EA5045;
    width: 40vw;
    height: 15vw;
    margin: 10vw 30vw;
}

/*LOGIN FORSIDE*/

#login .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#login .coltop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 50vw;
}

#login .user,
.password {}

#login .continue {}

#login .fblogin {
    width: 50vw;
    background-color: #FFFFFF;
    margin: 1.5vw 0vw;
    border: 2px solid #EA5045;
    border-radius: 50px;
    height: 8vw;
    position: absolute;
    top: 100vw;
}

/*user password*/

input[type=text] {
    width: 100%;
    background-color: #FFFFFF;
    margin: 1.5vw 0vw;
    padding: 0vw;
    border-radius: 50px;
    height: 8vw;
    width: 50vw;
    font-family: sans-serif;
    color: #EA5045;
    padding: 2vw;
}

input[type=password] {
    width: 100%;
    background-color: #FFFFFF;
    margin: 1.5vw 0vw;
    border-radius: 50px;
    height: 8vw;
    width: 50vw;
    font-family: sans-serif;
    color: #EA5045;
    padding: 2vw;
}

/*continue*/

input[type=submit] {
    width: 100%;
    background-color: #EA5045;
    margin: 1.5vw 0vw;
    border-radius: 50px;
    height: 8vw;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 40vw;
    color: #FFFFFF;
    font-size: 0.7rem;
}

/*index*/

#forside .sectionwrapper {
    background-color: #FAF7F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vw 0vw;
}

#forside .colbox {
    background-color: #FAF7F7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#forside .col {
    background-color: #FFFFFF;
    margin: 1.5vw;
    height: 25vw;
    width: 25vw;
    justify-content: center;
    align-items: center;
}

#forside a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#forside img {
    width: 80%;
}

#forside .techlounge {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
    height: 25vw;
    width: 53vw;
    justify-content: center;
    align-items: center;
}

#forside .aktuelt {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
    height: 53vw;
    width: 53vw;
    justify-content: center;
    align-items: center;
}


/*Header*/


header img {
    width: 40%;
    margin: 1vw;
}

/*Burgermenu*/

header {
    background: #EA5045;
    height: 80px;
    width: 100%;
}

.hidden {
    transform: scale(0);
    display: none;
    transform: translateX(-100%);
    opacity: 0;
}

/*menu*/

ul {
    margin: 0;
    padding: 0;
}


.logocol {
    display: flex;
    justify-content: center;
}

#menu h3 {
    margin: 3vw;
    text-align: center;

}

#menu img {
    justify-content: center;
    width: 100%;
    padding: 5vw 20vw;
}

.hh {
    display: flex;
    justify-content: space-between;
    height: 10vw;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    width: 5vw;
    margin: 2vw 8vw;
}

#menu {
    list-style-type: none;
    transition: transform .5s;
    background-color: #3F3140;
}

.log {
    padding: 0vw 10vw 16vw 12vw;
}

.logud {
    background-color: #EA847C;
    height: 8vw;
}

/*mediacure*/
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    header {
        display: block;
    }
}

/*skema*/

h6 {
    font-family: sans-serif;
    color: black;
    font-size: 0.8rem;
    margin: 1vw;
}

h7 {
    font-family: sans-serif;
    color: black;
    font-size: 0.8rem;
    margin: 1vw;
}

h8 {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 0.7rem;
    padding: 1vw 0vw;
    text-align: center;
}


#skema .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#skema .colskema {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F1F0;
    margin: 2vw;
}

#skema .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 15vw;
    background-color: #F2F1F0;
}

#skema .tidcol {
    flex-basis: 15vw;
    display: flex;
    flex-direction: column;
    background-color: #F2F1F0;
}

#skema .tid {
    background-color: #FFFFFF;
    margin: 0.5vw;
}

#skema .skemainfo {
    display: flex;
    background-color: #DEDCDB;
    justify-content: space-between;
}

#skema .skematext {
    display: flex;
    background-color: #DEDCDB;
    flex-direction: column;
    padding: 2vw;
}

#skema .skemadato {
    display: flex;
    background-color: #3F3140;
    justify-content: center;
    align-items: center;
}

#skema .datotext {
    display: flex;
    background-color: #3F3140;
    flex-direction: column;
    padding: 2vw;
    text-align: center;
}
